body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2e2e2e; }

.bar-chart-container {
  margin-top: 3rem;
  box-shadow: 0 8px 6px -5px black;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
  .bar-chart-container .chart {
    background-color: white;
    border-radius: 10px; }
  .bar-chart-container .tooltip {
    padding: 0.5rem;
    background-color: #ef5675;
    border-radius: 5px;
    color: #2e2e2e;
    font-weight: 500; }

.scatter-plot-container {
  margin-top: 3rem;
  box-shadow: 0 8px 6px -5px black;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
  .scatter-plot-container .scatter-plot-chart {
    background-color: white;
    border-radius: 10px; }
  .scatter-plot-container .scatter-plot-tooltip {
    position: absolute;
    border-radius: 5px;
    padding: 0.5rem;
    color: white; }
    .scatter-plot-container .scatter-plot-tooltip p {
      margin-bottom: 0.1rem;
      font-size: 0.8rem; }

.heat-map-container {
  margin-top: 1rem;
  box-shadow: 0 8px 6px -5px black;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
  .heat-map-container .heat-map-chart {
    background-color: white;
    border-radius: 10px; }
  .heat-map-container .heat-map-tooltip {
    position: absolute;
    border-radius: 5px;
    padding: 0.5rem;
    color: black; }
    .heat-map-container .heat-map-tooltip p {
      margin-bottom: 0.1rem;
      font-size: 0.8rem; }

.title-container {
  color: white;
  display: block;
  margin: auto;
  margin-top: 2rem; }
  .title-container h1 {
    font-size: 1.8rem; }
  .title-container h3 {
    font-size: 1.4rem; }
  .title-container h1,
  .title-container h3 {
    text-align: center; }
