body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2e2e2e; }

.bar-chart-container {
  margin-top: 3rem;
  box-shadow: 0 8px 6px -5px black;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
  .bar-chart-container .chart {
    background-color: white;
    border-radius: 10px; }
  .bar-chart-container .tooltip {
    padding: 0.5rem;
    background-color: #ef5675;
    border-radius: 5px;
    color: #2e2e2e;
    font-weight: 500; }

.scatter-plot-container {
  margin-top: 3rem;
  box-shadow: 0 8px 6px -5px black;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
  .scatter-plot-container .scatter-plot-chart {
    background-color: white;
    border-radius: 5px; }
