nav.navbar.navbar-expand-md.navbar-fixed-top.navbar-dark.bg-dark.main-nav
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav  
    ul.nav.navbar-nav
      li.nav-item.active
        a.nav-link(href='#')
          i.fas.fa-home
          span  Home
    ul.nav.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='/')
          i.fas.fa-chart-bar
          span  Bar Chart
      li.nav-item
        a.nav-link(href='/scatter-plot')
          i.fas.fa-project-diagram
          span  Scatterplot   
      li.nav-item
        a.nav-link(href='/heat-map')
          i.fas.fa-fire
          span  Heat Map    
