nav.navbar.navbar-expand-md.navbar-fixed-top.navbar-dark.bg-dark.main-nav
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav  
    ul.nav.navbar-nav
      li.nav-item.active
        a.nav-link(href='#')
          i.fas.fa-home
          span  Home
      li.nav-item
        a.nav-link(href='/events')
          i.fas.fa-calendar-alt
          span  Events
    ul.nav.navbar-nav.mx-auto.d-none.d-md-block
      li.nav-item
        a.navbar-brand.d-flex.w-50.mr-auto(href='/')
          img(src='' alt='logo' height='40' width='110')
    ul.nav.navbar-nav
      li.nav-item
        a.nav-link(href='/request-assistance')
          i.fas.fa-hands-helping
          span  Assistance
      li.nav-item.dropdown
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          i.fas.fa-plus-square
          span  More
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
         a.dropdown-item(href='/resources') Resources
         if !isMemberPage
           a.dropdown-item(href='/member/login') Login
         if isMemberPage
           a.dropdown-item(href='/member/logout') Log Out