extends ../components/layouts/main.pug

block content
  .title-container 
    h1#title Monthly Global Land-Surface Temperature
    h3#description 
  .heat-map-container
    .heat-map-chart   
  script(src='/js/main.js')
  script(src='/js/heat-map.js')