extends ../components/layouts/main.pug

block content
  .title-container 
    h1#title The title here possibly
  .tree-map-container
    .tree-map-chart   
  script(src='/js/main.js')
  script(src='/js/tree-map.js')