extends ../components/layouts/main.pug

block content
  .graph-selector-container
    ul.nav.nav-pills.navtab-bg.nav-justified
      li.nav-item.active
        a.nav-link(href='#') Graph 1
      li.nav-item
        a.nav-link(href='#') Graph 2
      li.nav-item
        a.nav-link(href='#') Graph 3    
  .tree-map-container
    .tree-map-chart   
  script(src='/js/main.js')
  script(src='/js/tree-map.js')